# Copia in terraform.tfvars.
aws_region          = "eu-west-1"
project             = "absa"
# Deve essere GLOBALMENTE unico su tutto S3:
model_bucket_name   = "absa-model-checkpoint-XXXX"
budget_notify_email = "dario.lazzara@studium.unict.it"
budget_limit        = "100"
budget_currency     = "USD"
github_repo         = "owner/nome-repo"
